@import 'tailwindcss';

@theme {
  --color-primary-100: #12124e;
  --color-primary-200: #14145a;
  --color-primary-300: #171765;
  --color-primary-400: #191970;
  --color-primary-500: #30307e;
  --color-primary-600: #47478d;
  --color-primary-700: #a3a3c6;
  --color-primary-800: #babad4;

  --color-secondary-100: #555555;
  --color-secondary-200: #5e5e5e;
  --color-secondary-300: #706f6f;
  --color-secondary-400: #868585;
  --color-secondary-500: #8f8f8f;
  --color-secondary-600: #d1cfcf;
  --color-secondary-700: #d9d9d9;
  --color-secondary-800: #ececec;

  --color-tertiary-100: #0b202e;
  --color-tertiary-200: #102f44;
  --color-tertiary-300: #ea4639;
  --color-tertiary-400: #005ce7;
  --color-tertiary-500: #49728e;
  --color-tertiary-600: #7695aa;
  --color-tertiary-700: #a4b9c7;
  --color-tertiary-800: #d1dce3;

  --color-black: #383838;
}

body {
  @apply bg-white;
}

select:focus {
  color: primary;
}
